body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    
   
}

form {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 16px;
}



input[type="password"]:focus {
    outline: none;
    border-color: #6b94ff;
    box-shadow: 0 0 5px #6b94ff;
}

button[type="button"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: #3e8e41;
}

#msgError{
text-align: center;
color: #ff0000;
background-color: #ffbbbb;
padding: 10px;
border-radius: 4px;
display: none;
}

#msgSucess{
    text-align: center;
    color: #00bb00;
    background-color: #bbffbe;
    padding: 10px;
    border-radius: 4px;
    display: none;
}   